# Node
node_modules/
dist/
build/
.npm
.vite

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# MacOS / Windows
.DS_Store
Thumbs.db
